<html>
  <head>
    <title>Thanks</title>
    <style type="text/css">
      /* body {
        background: black;
        color: white;
      } */
      div.container {
        max-width: 700px;
        margin: 10px auto;
        /* border: 20px solid white; */
        padding: 50px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Thanks for helping train the model!</h4>
      <br />
      <p>You can upload another mobile suit head to test the model again</p>
      <form method="post">
        <input type="submit" name="again" value="Start Again">
      </form>
    </div>
  </body>
</html>
